.card {
    cursor: pointer;
}

.text {
    opacity: 0;
    transition: opacity .5s linear;
}

.card:hover .text {
    opacity: 1;
}

#img {
    width: 80%;
    height: 80vh;
}

.modal {
    --bs-modal-width: 80% !important;
}